<!doctype html>
{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>{% block title %}RPC detail{% endblock %}</title>
    <style type="text/css">
        html, body {
            height: 100%;

        }

        .container {
            height: 100%;
        }

        /*.row {*/
        /*margin: 0px;*/
        /*}*/
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.css' %}">
</head>
<body>
<header>

    <div class="container">

        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Sticky top</a>
        </nav>
    </div>
</header>

<img src="{% static 'e1d254e4-e3f7-11e8-9efe-488ad268fa53.png' %}" alt="My image">

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 ">
            <div class="container">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>

                <!--边栏内容-->
            </div>

        </div>
        <div class="span10">
            <!--主体内容-->
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js\jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'bootstrap\js\bootstrap.min.js' %} "></script>
</body>
</html>

