<!doctype html>
{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <title>{% block title %}RPC detail{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    <style type="text/css">
            .form-horizontal .form-group {
                margin-right: 0px;
                margin-left: 0px;
            }
        </style>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
{#<header><h1 style="background-color: #0f0f0f;            padding: 3px;            margin: 0px;">管理平台</h1>#}
{#</header>#}
{% block content %}{% endblock %}
<script src="{% static 'js\jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'bootstrap\js\bootstrap.min.js' %} "></script>
</body>
</html>

