{% extends "base.html" %}

{% block content %}
    <h4>
        <ol class="breadcrumb">
            模块 :
            <li><a href="{% url 'rpc_list' pre_module %}">{{ pre_module | default_if_none:"/" }}</a></li>
            <li class="active">{{ module_name }}</li>
        </ol>

    </h4>


    <form method="post" class="form-horizontal" action="{% url 'rpc_update'   key %}">
        {% csrf_token %}
        <input type="hidden" name="key" value="{{ module_name }}/{{ uuid }}">
        <div class="form-group">
            <label class="col-sm-2 control-label">UUID</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ uuid }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">IP</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{ ip }}</p>
            </div>
            <label class="col-sm-2 control-label">PORT</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{ port }}</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="dec">{{ dec | default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">文档</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="doc">{{ doc | default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="weight" class="col-sm-2 control-label">权重</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="weight" name="weight"
                       value="{{ weight | default_if_none:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="active_index" class="col-sm-2 control-label">活跃度</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="active_index" name="active_index"
                       value="{{ active_index | default_if_none:0 }}">
            </div>
        </div>
        <div class="form-group">
            <label for="invoker_count" class="col-sm-2 control-label">调用次数</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="invoker_count" name="invoker_count"
                       value="{{ invoker_count | default_if_none:0 }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">强制调用</label>
            <div class="col-sm-10">
                <label>
                    <input type="checkbox" name="force" {% if force %}checked='checked' value=1 {% endif %}>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">线上环境</label>
            <div class="col-sm-10">
                <label>
                    <input type="checkbox" name="pro" {% if pro %}checked='checked' value=1 {% endif %}>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">下线</label>
            <div class="col-sm-10">
                <label>
                    <input type="checkbox" name="offline" {% if offline %}checked='checked' value=1 {% endif %}>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">修改</button>
            </div>
        </div>
    </form>


{% endblock %}


{% block initjs %}
    <script>
        $('input[type="checkbox"]').change(function () {
            this.value ^= 1;
        });

    </script>
{% endblock %}

